/*

Theme Name: Lifeline

Author: Webinane

Version: 5.8

Author URI: http://themeforest.net/user/webinane

Theme URI: http://themes.webinane.com/wp/lifeline/

Description: The best minimalist WP theme for charity organization and NGO's Theme By - <a href="http://webinane.com/">Webinane</a>

License:GNU General Public License v2 or later

License URI:http://www.gnu.org/licenses/gpl-2.0.html

Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready

Text Domain: lifeline

*/

body a{

    outline: none !important;

}

.animated { opacity: 1; }

.donate-us-box a.donate-btn {

    background-image:linear-gradient(bottom, rgb(240,240,240) 15%, rgb(255,255,255) 81%);

    background-image:-o-linear-gradient(bottom, rgb(240,240,240) 15%, rgb(255,255,255) 81%);

    background-image:-moz-linear-gradient(bottom, rgb(240,240,240) 15%, rgb(255,255,255) 81%);

    background-image:-webkit-linear-gradient(bottom, rgb(240,240,240) 15%, rgb(255,255,255) 81%);

    background-image:-ms-linear-gradient(bottom, rgb(240,240,240) 15%, rgb(255,255,255) 81%);

    background-image:-webkit-gradient(

        linear,

        left bottom,

        left top,

        color-stop(0.15, rgb(240,240,240)),

        color-stop(0.81, rgb(255,255,255))

        );



    display:table;

    margin:0 auto;

    padding:10px 0;

    color:#666666;

    width:110px;

    font-family:roboto;

    font-size:11px;

    line-height:10px;

    text-align:center;



    -webkit-border-radius:50px;

    -moz-border-radius:50px;

    -ms-border-radius:50px;

    -o-border-radius:50px;

    border-radius:50px;



    -webkit-transition:all 0.3s ease 0s;

    -moz-transition:all 0.3s ease 0s;

    -ms-transition:all 0.3s ease 0s;

    -o-transition:all 0.3s ease 0s;

    transition:all 0.3s ease 0s;

}

.donate-us-box a.donate-btn:hover {

    width:90px;

}

/*** CAUSES SINGLE PAGE ***/

.amount-btns, .recursive-periods {

    display: table;

    float: none;

    margin: 0 auto;

    width: auto;

}

.recursive-periods{

    margin-bottom:10px;

}

.post .recursive-periods > a{

    margin-bottom:10px;

}

.amount-btns > a, .recursive-periods > a {

    background: none repeat scroll 0 0 #505050;

    border:0;

    color: #F1F1F1;

    float: left;

    margin-right: 10px;

    padding: 10px 25px;

    font-family: roboto;

    font-size: 16px;

    font-weight: 500;



    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    -ms-border-radius: 3px;

    -o-border-radius: 3px;

    border-radius: 3px;

}

.other-amount > input,  .other-amount #textfield{

    border: 1px solid #D8D8D8;

    color: #cccccc;

    font-family: roboto;

    font-size: 12px;

    float:left;

    height: 40px;

    padding: 10px 20px;

    width: 280px;

    -webkit-box-shadow: 0 0 15px #EAEAEA inset;

    -moz-box-shadow: 0 0 15px #EAEAEA inset;

    -ms-box-shadow: 0 0 15px #EAEAEA inset;

    -o-box-shadow: 0 0 15px #EAEAEA inset;

    box-shadow: 0 0 15px #EAEAEA inset;



    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    -ms-border-radius: 3px;

    -o-border-radius: 3px;

    border-radius: 3px;

}

.other-amount .donate-btn {

    background: none repeat scroll 0 0 #4E4E4E;

    float: left;

    height: 40px;

    width: 150px;

    color: #FFFFFF;

    font-family: roboto;

    font-weight: 700;

    line-height: 40px;

    margin-left: 10px;

    text-align: center;

    border:none;



    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    -ms-border-radius: 3px;

    -o-border-radius: 3px;

    border-radius: 3px;

}

.other-amount > form{

    float:left;

}

.donate-popup {

    border-top: 1px solid #D8D8D8;

    display: table;

    margin: 100px auto;

    width: 80%;

}

.post .donate-drop-down .donate-popup {

    border:none;

    margin:0px;

    width:auto;

}

.progress-report h6{

    margin-bottom:0px !important;

}

/* Ajax Login */

form#login{

    display: none;

    background-color: #FFFFFF;

    top: 200px;

    padding: 40px 25px 25px 25px;

    width: 350px;

    margin:0 auto;

}

form#login p.status{

    display: none;

}

.loading {

    width:100%;

    height:100%;

    position:absolute;

    top:0px;

    left:0px;

    background-color:rgba(0,0,0,0.6);

    z-index:9999999999;

}

.loading:before {

    width:16px;

    height:11px;

    margin:-5.5px 0 0 -8px;

    content:'';

    display:block;

    background:url(images/ajax-loader.gif) 0 0 no-repeat;



    position:absolute;

    top:50%;

    left:50%;

}

body > .loading {

    position:fixed;

}

.causes-single ul.nav li a img{

    width:100%;

    height:100%;

}

.galley-image a img {

    height: auto;

    max-width: 100%;

}

.address header {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    position: relative;

    top: 0;

}

.confirm_popup {

    background: none repeat scroll 0 0 #fff;

    left: 50%;

    margin-left: -350px;

    padding: 20px;

    position: fixed;

    top: 50%;

    width: 700px;

    z-index:1;

    height: 170px;

    margin-top: -120px;



    -webkit-border-radius: 4px;

    -moz-border-radius: 4px;

    -ms-border-radius: 4px;

    -o-border-radius: 4px;

    border-radius: 4px;	

}

.confirm_popup > h2 {

    float: left;

    font-family: open sans;

    font-size: 20px;

    font-style: normal;

    font-weight: 500;

    line-height: 30px;

    margin-bottom: 15px;

    text-transform: capitalize;

    width: 100%;

}

.confirm_popup table {

    margin-bottom: 20px;

}

#paypal_confirmation {

    background: none repeat scroll 0 0 #cfcfcf;

    border: 0 none;

    color: #565656;

    float: right;

    font-family: open sans;

    font-style: normal;

    font-weight: 600;

    padding: 8px 30px;

    text-transform: uppercase;



    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    -ms-border-radius: 3px;

    -o-border-radius: 3px;

    border-radius: 3px;



    -webkit-transition:all 0.4s linear;

    -moz-transition:all 0.4s linear;

    -ms-transition:all 0.4s linear;

    -o-transition:all 0.4s linear;

    transition:all 0.4s linear;

}

#paypal_confirmation:hover{

    background:#565656;

    color:#cfcfcf;

}

.modal-backdrop{

    z-index:999999999;

}

.modal {

    z-index: 2147483647 !important;

}









/*====================================

         LIFELINE NEW HOME PAGE 

=====================================*/

.gray {

    background: none repeat scroll 0 0 #fbf7f7;

}

.no-container .container {

    float: left;

    max-width: none;

    width: 100%;

    overflow: hidden;

}

.fancy-donation {

    float: left;

    width: 100%;

    min-height: 440px;

    position: relative;

    z-index: 1;

}

.fancy-donation:before {

    background: none repeat scroll 0 0 #000000;

    content: "";

    height: 100%;

    opacity: 0.9;

    width: 100%;

    position: absolute;

    left: 0;

    top: 0;

    z-index: 1;

}

.fancy-donation > img {


    width: 100%;

    position: absolute;

    left: 0;

    top: 0;

}

.donation-appeal {

    float: left;

    margin-left: 20%;

    padding-top: 60px;

    position: relative;

    text-align: center;

    width: 60%;

    z-index: 1;

}

.donation-appeal > h3 {

    border-bottom: 1px solid #5d5d5d;

    color: #ffffff;

    display: inline-block;

    font-family: roboto;

    font-size: 30px;

    font-weight: 300;

    letter-spacing: 0.3px;

    margin-bottom: 30px;

    padding-bottom: 20px;

    padding-top: 20px;

}

.donation-appeal > h6 {

    border-bottom: 1px solid #5d5d5d;

    color: #ffffff;

    display: inline-block;

    font-family: open sans;

    font-size: 12px;

    letter-spacing: 5px;

    padding-bottom: 10px;

    text-transform: uppercase;

}

.donation-appeal > h3 span {

    display: list-item;

    font-size: 20px;

    font-weight: 500;

    margin-top: 7px;

}

.donation-appeal > p {

    color: #cdcdcd;

    display: inline-block;

    font-family: open sans;

    font-size: 13px;

    line-height: 26px;

    margin: 0;

}

.donation-appeal > a,

.urgent-cause > a{

    color: #ffffff;

    display: inline-block;

    font-family: open sans;

    font-size: 13px;

    margin-top: 30px;

    padding: 13px 35px;

    position: relative;

    text-transform: uppercase;

    z-index: 1;

    letter-spacing: 0.4px;

}

.donation-appeal > a:before,

.urgent-cause > a:before{

    background: none repeat scroll 0 0 #000000;

    content: "";

    height: 100%;

    width: 100%;

    opacity: 0.6;

    position: absolute;

    left: 0;

    top: 0;

    z-index: -1;



    -webkit-transition:all 0.2s linear;

    -moz-transition:all 0.2s linear;

    -ms-transition:all 0.2s linear;

    -o-transition:all 0.2s linear;

    transition:all 0.2s linear;

}

.donation-appeal > a:hover:before, 

.urgent-cause > a:hover:before{

    opacity: 1;

}

/*** HEADING STYLE 4 ***/

.sec-heading4 {

    float: left;

    text-align: center;

    width: 100%;

    margin-bottom: 35px;

}

.sec-heading4 h2 {

    display: inline-block;

    font-family: roboto;

    font-size: 26px;

    font-weight: 400;

    margin-bottom: 5px;

}

.sec-heading4 > p {

    color: #999999;

    display: table;

    font-family: open sans;

    font-size: 12px;

    margin-bottom: 0;

    margin-left: auto;

    margin-right: auto;

}

.wide-project-carousel {

    float: left;

    width: 100%;

    background: #FFF;

    position: relative;

    overflow: hidden;

}

.wide-project-detail {

    background: url(images/full-wide-projects.jpg) no-repeat scroll center transparent;

    float: left;

    width: 100%;

    padding: 65px 30px 30px 70px;

    position: relative;

    z-index: 1;

}

.wide-project-detail:before {

    width: 100%;

    height: 100%;

    content: "";

    position: absolute;

    left: 0;

    top: 0;

    background: white;

    opacity: 0.9;

    z-index: -1;

}

.wide-project-detail {

    float: left;

    width: 100%;

    padding: 65px 30px 30px 70px;

}

.wide-project-detail > h2 {

    float: left;

    width: 100%;

    color: #4b4b4b;

    font-family: roboto;

    font-size: 24px;

    font-weight: 400;

    margin-bottom: 5px;

}

.wide-project-detail > h2 a{

    color: inherit;



    -webkit-transition:all 0.2s linear;

    -moz-transition:all 0.2s linear;

    -ms-transition:all 0.2s linear;

    -o-transition:all 0.2s linear;

    transition:all 0.2s linear;

}

.wide-project-detail > h3 {

    float: left;

    width: 100%;

    font-family: roboto;

    font-size: 18px;

    font-weight: 600;

    margin-bottom: 20px;

}

.wide-project-detail > p {

    float: left;

    width: 100%;

    color: #888888;

    font-family: open sans;

    font-size: 13px;

    line-height: 26px;

    margin: 0 0 30px ;

}

.wide-project-img {

    float: left;

    width: 100%;

}

.wide-project-img img{

    width: 100%;

}

.money-spent {

    float: left;

}

.money-spent > h5 {

    color: #7c7c7c;

    font-family: roboto;

    font-size: 30px;

    line-height: 20px;

    margin-bottom: 5px;

}

.money-spent > h5 i {

    font-size: 22px;

    font-style: normal;

    margin-right: 5px;

}

.money-spent > span {

    color: #929292;

    float: right;

    font-family: roboto;

    font-size: 12px;

}

.project-contact {

    border-left: 1px dotted #969696;

    color: #929292;

    float: left;

    font-family: roboto;

    font-size: 13px;

    font-style: italic;

    margin-left: 30px;

    padding-bottom: 10px;

    padding-left: 30px;

    padding-top: 10px;

}

.wide-project-carousel .flex-direction-nav {

    bottom: 0;

    position: absolute;

    right: 0;

    z-index: 10;

}

.wide-project-carousel .flex-direction-nav {

    bottom: -65px;

    position: absolute;

    right: 0;

    z-index: 10;



    -webkit-transition:all 0.3s linear;

    -moz-transition:all 0.3s linear;

    -ms-transition:all 0.3s linear;

    -o-transition:all 0.3s linear;

    transition:all 0.3s linear;

}

.wide-project-carousel:hover .flex-direction-nav{

    bottom: 5px;

}

.wide-project-carousel .flex-direction-nav li {

    float: left;

    height: 50px;

    width: 50px;

    color: rgba(0, 0, 0, 0);

    margin-right: 5px;

}

.wide-project-carousel .flex-direction-nav li a {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);

    color: rgba(0, 0, 0, 0);

    position: relative;

    float: left;

    height: 50px;

    width: 100%;

}

.wide-project-carousel .flex-direction-nav li a:before {

    color:#afafaf;

    content: "\f104";

    font-family: fontawesome;

    font-size: 30px;

    height: 100%;

    width: 100%;

    line-height: 50px;

    text-align: center;

    position: absolute;

    left: 0;

    top: 0;



    -webkit-transition:all 0.3s linear;

    -moz-transition:all 0.3s linear;

    -ms-transition:all 0.3s linear;

    -o-transition:all 0.3s linear;

    transition:all 0.3s linear;

}

.wide-project-carousel .flex-direction-nav li a:hover:before{

    color: #FFF;

}

.wide-project-carousel .flex-direction-nav li a.flex-next:before {

    content: "\f105";

}

/*** Charity Causes ***/

.charity-causes {

    float: left;

    width: 100%;

    margin-bottom: -30px;

}

.charity-cause {

    float: left;

    width: 100%;

    margin-bottom: 30px;

}

.charity-cause-img {

    float: left;

    width: 100%;

    overflow: hidden;

}

.charity-cause-img > img {

    width: 100%;



    -webkit-transition:all 0.3s linear;

    -moz-transition:all 0.3s linear;

    -ms-transition:all 0.3s linear;

    -o-transition:all 0.3s linear;

    transition:all 0.3s linear;

}

.charity-cause:hover .charity-cause-img > img{

    -webkit-transform:scale(1.2);

    -moz-transform:scale(1.2);

    -ms-transform:scale(1.2);

    -o-transform:scale(1.2);

    transform:scale(1.2);

}

.charity-cause-detail {

    float: left;

    width: 100%;

    padding: 30px 20px;

    text-align: center;

    border-bottom: 1px solid #eae1e1;

    border-left: 1px solid #eae1e1;

    border-right: 1px solid #eae1e1;

}

.charity-cause-detail > h3 {

    float: left;

    width: 100%;

    color: #666666;

    font-family: roboto;

    font-size: 15px;

    font-weight: 400;

    letter-spacing: 0.4px;

    margin-bottom: 15px;

}

.charity-cause-detail > h3 a{

    color: inherit;



    -webkit-transition:all 0.2s linear;

    -moz-transition:all 0.2s linear;

    -ms-transition:all 0.2s linear;

    -o-transition:all 0.2s linear;

    transition:all 0.2s linear;

}

.charity-cause-detail > p {

    color: #888888;

    float: left;

    font-family: open sans;

    font-size: 13px;

    line-height: 22px;

    margin-bottom: 20px;

    width: 100%;

}

.charity-cause-detail .progress {

    float: left;

    width: 100%;

    margin: 0;

    height: 7px;



    -webkit-box-shadow: none;

    -moz-box-shadow: none;

    -ms-box-shadow: none;

    -o-box-shadow: none;

    box-shadow: none;

}

.charity-cause-detail .progress-bar {

    -webkit-box-shadow: none;

    -moz-box-shadow: none;

    -ms-box-shadow: none;

    -o-box-shadow: none;

    box-shadow: none;



    -webkit-border-radius: 15px;

    -moz-border-radius: 15px;

    -ms-border-radius: 15px;

    -o-border-radius: 15px;

    border-radius: 15px;    

}

.charity-cause-detail > span {

    float: left;

    width: 100%;

    color: #666666;

    font-family: roboto;

    font-size: 11px;

    font-weight: 200;

    margin-top: 10px;

}

.charity-cause-detail > span i {

    font-size: 14px;

    font-style: normal;

    font-weight: 300;

    margin-left: 20px;

}

.cause-location {

    float: left;

    width: 100%;

    font-family: roboto;

    font-size: 12px;

    padding:14px 30px;

    text-align: center;

    border-bottom: 1px solid #eae1e1;

    border-left: 1px solid #eae1e1;

    border-right: 1px solid #eae1e1;

}

.cause-location > p {

    float: left;

    width: 100%;

    color: #666666;

    margin: 0;

}

/*** Urgent Cause ***/

.urgent-cause {

    float: left;

    overflow: hidden;

    padding: 60px 30px;

    position: relative;

    text-align: center;

    width: 100%;

    z-index: 1;

}

.urgent-cause:before {

    background: none repeat scroll 0 0 #000000;

    content: "";

    z-index: -1;

    height: 100%;

    width: 100%;

    opacity: 0.7;

    position: absolute;

    left: 0;

    top: 0;

}

.urgent-cause > img {

    left: 0;

    position: absolute;

    top: 0;

    width: 100%;

    z-index: -2;

}

.urgent-cause > span {

    display: list-item;

    margin-bottom: 30px;

}

.urgent-cause > h3 {

    float: left;

    width: 100%;

    font-family: roboto;

    font-size: 26px;

    color: #FFF;

}

.urgent-cause > h3 span {

    float: left;

    width: 100%;

    font-weight: 300;

}

.urgent-cause > h5 {

    float: left;

    width: 100%;

    color: #f0eaea;

    font-family: roboto;

    font-size: 16px;

    margin:25px 0 30px;

}

.urgent-cause .progress {

    float: left;

    width: 100%;

    margin: 0;

    height: 10px;



    -webkit-border-radius: 7px;

    -moz-border-radius: 7px;

    -ms-border-radius: 7px;

    -o-border-radius: 7px;

    border-radius: 7px;

}

.urgent-cause .progress .progress-bar {

    -webkit-border-radius: 7px;

    -moz-border-radius: 7px;

    -ms-border-radius: 7px;

    -o-border-radius: 7px;

    border-radius: 7px;

}

.urgent-progress {

    float: left;

    margin-top: 10px;

    padding: 0 20px;

    width: 100%;

}

.urgent-progress > span, .urgent-progress > i {

    color: #ffffff;

    float: left;

    font-family: roboto;

    font-size: 11px;

    font-weight: 300;

}   

.urgent-progress > i {

    float: right;

    font-style: normal;

}

.urgent-cause > h6 {

    float: left;

    width: 100%;

    margin-top: 25px;

    color: #eae9e9;

    font-family: source sans pro;

    font-size: 14px;

    font-style: italic;

    margin-bottom: 10px;

}

.urgent-cause > strong {

    float: left;

    width: 100%;

    color: #ffffff;

    font-family: source sans pro;

    font-size: 24px;

    font-weight: 400;

    line-height: 26px;

    margin-bottom: 20px;

}

.urgent-cause > strong i {

    font-style: normal;

    margin-right: 2px;

}

.fixed.blackish:before {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);

    content: "";

    height: 100%;

    width: 100%;

    position: absolute;

    left: 0;

    top: 0;

}

/*** Simple Parallax ***/

.simple-parallax {

    display: table;

    margin: 0 auto;

    position: relative;

    text-align: center;

    width: 55%;

    padding-bottom: 40px;

}

.simple-parallax > span {

    color: #ffffff;

    float: left;

    font-family: source sans pro;

    font-size: 14px;

    margin-bottom: 10px;

    width: 100%;

}

.simple-parallax > h3 {

    color: #ffffff;

    float: left;

    font-family: roboto;

    font-size: 45px;

    font-weight: unset;

    margin-bottom: 20px;

    width: 100%;

}

.simple-parallax > p {

    color: #dedddd;

    float: left;

    font-family: open sans;

    font-size: 14px;

    line-height: 30px;

    width: 100%;

}

.transparent-btn {

    display: inline-block;

    position: relative;

    color: #ffffff;

    font-family: open sans;

    font-size: 13px;

    font-weight: 600;

    padding: 12px 30px;

    z-index: 1;

}

.transparent-btn:before {

    background: none repeat scroll 0 0 #000000;

    content: "";

    height: 100%;

    width: 100%;

    opacity: 0.8;

    position: absolute;

    left: 0;

    top: 0;

    z-index: -1;



    -webkit-transition:all 0.2s linear;

    -moz-transition:all 0.2s linear;

    -ms-transition:all 0.2s linear;

    -o-transition:all 0.2s linear;

    transition:all 0.2s linear;

}

.transparent-btn:hover:before{

    opacity: 1;

}

/*** Upcoming Event Bar ***/

.upcoming-bar {

    float: left;

    width: 100%;

    background: url("images/pattern5.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: 10px solid #ffffff;

    padding: 20px 50px;

}

.abt-upcoming-event {

    float: left;

    width: 100%;

    min-height: 63px;

    padding-left: 80px;

    position: relative;

}

.abt-upcoming-event > span {

    position: absolute;

    left: 0;

    top: 0;

}

.abt-upcoming-event > h3 {

    color: #ffffff;

    float: left;

    font-family: roboto;

    font-size: 20px;

    font-weight: 400;

    margin-bottom: 8px;

    margin-top: 8px;

    width: 100%;

}

.abt-upcoming-event > ul {

    float: left;

    width: 100%;

}

.abt-upcoming-event > ul li {

    float: left;

    font-family: open sans;

    font-size: 11px;

    margin-right: 20px;

}

.abt-upcoming-event > ul li a i {

    margin-right: 5px;

}

.upcoming-bar.overlap {

    margin-top: -40px;

}

.upcoming-counter {

    float: left;

    width: 100%;

    margin-top: 10px;

}

.upcoming-counter > div {

    float: left;

    width: 100%;

}

.upcoming-counter > div > span > span {

    float: left;

    margin: 0;

    padding: 20px 0 0;

    position: relative;

    width: 25%;

}

.upcoming-counter > div > span > span:before {

    background: none repeat scroll 0 0 #828282;

    content: "";

    height: 30px;

    margin-top: -15px;

    position: absolute;

    right: 0;

    top: 50%;

    width: 1px;

}

.upcoming-counter > div > span > span:last-child:before {

    display: none;

}

.upcoming-counter > div > span > span .countdown-period {

    position: absolute;

    left: 0;

    top: 0;

    font-size: 13px;

    font-family: open sans;

}

.upcoming-counter > div > span > span:last-child:before {

    display: none;

}

.upcoming-counter > div > span > span .countdown-amount{

    font-family: roboto;

    font-size: 20px;

    color: #FFF;

}



.counter {

    color: #FFFFFF;

    height: 44px;

    left: 0;

    margin-top: -17px;

    padding: 0 16px;

    position: absolute;

    text-align: center;

    top: 50%;

    width: 100%;

}

.countdown {

    display: table;

    padding: 4px 0;

    width: 100%;

    text-align:center;

}

.countdown li {

    display: table-cell;

    vertical-align: middle;

    width: 25%;

}

.upcoming-bar .countdown li::before {

    background: #ffffff none repeat scroll 0 0;

    content: "";

    height: 20px;

    margin-top: -10px;

    position: absolute;

    right: 0;

    top: 50%;

    width: 1px;

}

.countdown li span {

    float: left;

    font-family: open sans;

    font-size: 25px;

    line-height: 22px;

    width: 100%;

}

.upcoming-counter .countdown li p {

    font-family: open sans;

    font-size: 14px;

    margin-bottom: 10px;

    margin-top: 0;

}

.upcoming-counter .countdown li span {

    color: #fff;

    font-family: roboto;

    font-size: 20px;

}

.countdown li span {

    float: left;

    font-family: open sans;

    font-size: 25px;

    line-height: 22px;

    width: 100%;

}

.countdown li p {

    float: left;

    font-family: roboto;

    font-size: 9px;

    line-height: 13px;

    margin: 2px 0 0;

    text-transform: capitalize;

    width: 100%;

    letter-spacing: 0.2px;

}

/*** Charity Events ***/

.charity-events {

    float: left;

    width: 100%;

    margin-bottom: -30px;

}

.charity-event {

    background: none repeat scroll 0 0 #ffffff;

    float: left;

    width: 100%;

    margin-bottom: 30px;

}

.charity-event-img {

    float: left;

    margin-bottom: 30px;

    overflow: hidden;

    position: relative;

    width: 100%;

}

.charity-event-img:before {

    background: none repeat scroll 0 0 #ffffff;

    content: "";

    height: 100%;

    left: 0;

    opacity: 0;

    position: absolute;

    top: 0;

    width: 100%;



    -webkit-transition: all 0.3s ease 0s;

    -moz-transition: all 0.3s ease 0s;

    -ms-transition: all 0.3s ease 0s;

    -o-transition: all 0.3s ease 0s;

    transition: all 0.3s ease 0s;

}

.charity-event:hover .charity-event-img:before {

    opacity: 0.6;

}

.charity-event-img img {

    width: 100%;

}

.charity-event-img > a {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);

    color: #ffffff;

    font-family: roboto;

    font-size: 16px;

    height: 40px;

    padding: 10px 20px;

    text-align: center;

    position: absolute;

    right: 0;

    top: -40px;



    -webkit-transition: all 0.3s ease 0s;

    -moz-transition: all 0.3s ease 0s;

    -ms-transition: all 0.3s ease 0s;

    -o-transition: all 0.3s ease 0s;

    transition: all 0.3s ease 0s;

}

.charity-event:hover .charity-event-img > a {

    top: 0;



    -webkit-transition: all 0.3s ease 0.2s;

    -moz-transition: all 0.3s ease 0.2s;

    -ms-transition: all 0.3s ease 0.2s;

    -o-transition: all 0.3s ease 0.2s;

    transition: all 0.3s ease 0.2s;

}

.charity-event-detail {

    float: left;

    padding: 0 40px;

    text-align: center;

    width: 100%;

}

.charity-event-detail > i {

    color: #929292;

    float: left;

    font-family: roboto;

    font-size: 16px;

    font-weight: 300;

    margin-bottom: 10px;

    width: 100%;

    font-style: normal;

}

.charity-event-detail > i strong {

    font-weight: 300;

}

.charity-event-detail > h3 {

    float: left;

    width: 100%;

    color: #666666;

    font-family: roboto;

    font-size: 18px;

    margin-bottom: 20px;

}

.charity-event-detail > h3 a {

    color: inherit;



    -webkit-transition:all 0.3s linear;

    -moz-transition:all 0.3s linear;

    -ms-transition:all 0.3s linear;

    -o-transition:all 0.3s linear;

    transition:all 0.3s linear;

}

.charity-event-detail > span {

    float: left;

    width: 100%;

    color: #969595;

    font-family: roboto;

    font-size: 11px;

    margin-bottom: 20px;

}

.charity-event-detail > p {

    float: left;

    width: 100%;

    color: #888888;

    font-family: open sans;

    font-size: 13px;

    line-height: 24px;

    margin-bottom: 30px;

}

.charity-event-detail > span i {

    margin-right: 5px;

}



/*** Sponsors Carousel ***/

.sponsors-carousel {

    float: left;

    width: 100%;

    position: relative;

}

.sponsors-carousel a {

    display: inline-block;

    text-align: center;

    width: 100%;

}

.sponsors-carousel a img {

    max-width: 100%;

}



.sponsors-carousel .flex-direction-nav {

    height: 0;

    position: absolute;

    top: 50%;

    width: 100%;

    z-index: 2;

}

.sponsors-carousel .flex-direction-nav li, 

.sponsors-carousel .flex-direction-nav li:last-child {

    display: inline-block;

    height: 25px;

    margin: 0;

    margin-top: -12.5px;

    position: relative;

    z-index: 1;

}

.sponsors-carousel .flex-direction-nav li:last-child {

    float: right;

    margin-left: 0;

    margin-right: -30px;

}

.sponsors-carousel .flex-direction-nav li a {

    color: rgba(0, 0, 0, 0);

    float: left;

    height: 25px;

    position: relative;

    width: 25px;

    outline: none;

}

.sponsors-carousel .flex-direction-nav li a:focus{

    outline: none;

}

.sponsors-carousel .flex-direction-nav li a:before {

    color: #999999;

    content: "\f104";

    font-family: fontawesome;

    font-size: 34px;

    height: 100%;

    line-height: 23px;

    text-align: center;

    width: 100%;

    position: absolute;

    left: 0;

    top: 0;

}

.sponsors-carousel .flex-direction-nav li a.flex-next:before {

    content: "\f105";

}









#menu-navigation li a:before,

#menu-navigation > li.active > a:before,

#menu-navigation > li a:hover,

#menu-navigation li ul li:hover,

.ls-defaultskin .ls-nav-prev:hover,

.ls-defaultskin .ls-nav-next:hover,

.message-box-title,

.submit-btn,

.donate-button,

.amount.pull-right span,

.sec-title h2:before ,

.sec-title h2:after,

.newsletter:before,

.newsletter,

.newsletter-btn,

.donate-us-box span.amount-figures.coloured,

.testimonial-color,

#prev:hover,

#next:hover,

.need,

.our-project-box .row > div:hover .icon-box,

.collected > span,

.welcome-box ,

.pagi:hover,

.form-button,

.event-post-image span,

.search-button,

.sidebar-title > h4:after,

.pagination > li > a:hover, 

.pagination > li > span:hover, 

.pagination > li > a:focus, 

.pagination > li > span:focus,

.search-tabs li.active a,

.search-tabs li.active a:hover,

.search-tabs li.active a:focus,

.cart-btn,

.accordion_toggle.current > a span,

#check > span,

.reply:hover,

.post-meta li > span,

.highlight > span ,

.coloured-invert,

.progress.pattern .progress-bar,

.price-table ul:hover li.table-head,

.price-table ul:hover li.table-btn a,

.social-icons.gray li:hover,

.controls > ul li.active,

.show-header,

.box > h4 ,

.box:after,

.carou-post > h4,

.item-detail > a,

.join-team a,

.shop .flex-direction-nav li a:hover,

.posts-carousel .flex-direction-nav li a:hover,

.amount-btns > a.selected,

.cause-box.donate-drop-btn:hover:before,

.cause-box.donate-drop-btn.down:before,

.stories-carousel .flex-direction-nav li a:hover,

button.favorite-btn:hover,

.full-title,

.short-desc > a,

.short-desc > ul li a:hover,

.sponsor-desc > a,

.news-img:before,

.option-combo > ul li a.selected,

.service > a,

.menu #menu-navigation li ul li ul li:hover,

.header-btn,

header.header3 #menu-navigation > li:hover,

header.header3 #menu-navigation li ul li:hover,

#menu-navigation li ul li a span,

.our-cause-img:before,

.our-cause-img:after,

.our-cause-detail > a,

.fancy-cause-hover > span a,

.slide-donate2,

.slide-icon,

.slide3-subtitle,

.slide4-subtitle,

.donation-appeal > a:before,

.charity-cause-detail .progress-bar,

.urgent-cause .progress .progress-bar,

.urgent-cause > a:before,

.transparent-btn:before,

.charity-event-img > a,

[data-style="donate-btn-causes"]{

    background-color:#4fc0aa;

}

.message-box-title > span,

.countSeconds,

.welcome-box span{

    background-color:#32a48e;

}

.menu ul li ul,

.message-form,

.message-form,

.ls-container,

.sidebar-title,

.accordion_toggle.current > a,

.order-reveived,

.theme-tabs .nav li.active a,

.theme-tabs .nav li.active a:hover,

.theme-tabs .nav li.active a:focus,

.menu ul li ul li ul,

.box {

    border-color:#4fc0aa;

}

.sec-title h2 span,

.meta span i,

.needed-amount > h5 i,

.footer-widget-title h4 span,

.our-causes-hover span i,

.our-causes-hover span.needed-amount,

.story > h6 i,

.member-intro > span,

.about-charity-desc.col-md-7 li h6,

.page-title h1 span,

label span,

.form p span,

.contact-info .contact-details li span i,

.sidebar-title > h4 span,

.sidebar-list li a:hover,

.error-page h2,

.error-page-search a,

.search-result h3 span,

.cart-table li > .product > h6,

.cart-total span,

.cloud-tags a:hover,

.featured-products .col-md-4 > a,

.featured-products .col-md-4 > h6 i,

.order-reveived p strong,

.order-reveived a,

.gallery-tabs li.active a,

.gallery-tabs li.active a:hover,

.gallery-tabs li.active a:focus,

blockquote span,

.comments li  .comment i span,

.post-meta > li p span ,

.theme-tabs .nav li.active a,

.theme-tabs .nav li.active a:hover,

.theme-tabs .nav li.active a:focus,

.theme-list li i,

.logo h1,

.coloured,

.port-desc > h4,

.donate-message > p span,

.upcoming-event > h5,

.upcoming-event li .icon-pencil,

.sec-heading h2 strong,

.designation,

span.title-icon,

.featured-details > a,

header.header2 #menu-navigation > li:hover > a,

header.header2 #menu-navigation > li.active > a,

.header-event .count-down span.countdown-row span.countdown-amount,

.search-box.white:before,

#menu-navigation ul.mega-menu2 > li:hover > a,

header.header3 #menu-navigation li ul li:hover > a,

.our-cause-detail > span a,

.our-cause-detail > i span,

.fancy-cause-intro > span strong,

.fancy-cause-intro > i a,

.fancy-cause-hover > span strong,

span.slide1 i,

h3.slide2 span,

h3.slide3 i,

h4.slide3 span,

h5.slide3 span,

.slide4 i,

.slide5 span,

.slide5-title span,

.slide3-subtitle2 i,

.donation-appeal > h3 span,

.sec-heading4 h2 span,

.wide-project-detail > h3,

.money-spent > h5 i,

.cause-location > p span,

.charity-cause-detail > span i,

.urgent-cause > h3 span,

.urgent-cause > h6 span,

.urgent-cause > strong i,

.simple-parallax > h3 span,

.abt-upcoming-event > ul li a,

.upcoming-counter > div > span > span .countdown-period,

.charity-event-detail > i strong,

.charity-event-detail > h3 a:hover,

.charity-cause-detail > h3 a:hover,

.wide-project-detail > h2 a:hover{

    color:#4fc0aa;

}



.causes-pagi:hover,

.counter,

.flickr-images > a:before,

.insta-photos > a:before,

.event-post-image:before,

.gallery .col-md-4 > a:before,

.gallery-image > span,

.image-lists ul > li a:before,

.image-lists ul > li .video-popup:before,

.post-image:before,

.causes-single ul.nav li a:before,

.nav.profile-tabs li a:before{

    background-color:rgba(79, 192, 170, 0.9);

}

.event-post-image:after{

    border-bottom-color:rgba(79, 192, 170, 0.9);

}





.about-charity-desc.col-md-7 ul li:hover{

    background:url("images/hexagon-sea-green.png") no-repeat scroll 0 0 transparent;

}

.sidebar-list li a:hover {

    background:url("images/list-arrow-sea-green.png") no-repeat scroll 34px center #FCFCFB;

}

.error-page-search a,

.order-reveived a {



    background:url("images/link-arrow-sea-green.png") no-repeat scroll right center transparent;

}

.no-top-image{

    height: 140px !important;

}

.urgent-cause > span{

    display: list-item !important;

}

















.payment-method{

    float: left;

    width: 100%;

    margin-top:50px;   

}

.payment-choices{

    float:left;

    width:100%;

    text-align:center;

    margin-bottom: 30px;

}

.payment-choices a{

    background:#4f4f4f;

    display:inline-block;

    padding:15px 50px;

    margin: 0 10px;

    color:#FFF;

    font-family: roboto;

    font-size: 14px;  

    font-weight:600;

    -webkit-border-radius:3px;

    -moz-border-radius:3px;

    -ms-border-radius:3px;

    -o-border-radius:3px;

    border-radius:3px;

    -webkit-transition:all 0.3s linear;

    -moz-transition:all 0.3s linear;

    -ms-transition:all 0.3s linear;

    -o-transition:all 0.3s linear;

    transition:all 0.3s linear;

}

.payment-choices a.active {

    background: #DFDFDF;

    color: #FFF;

}

.credit-card-options, .paypal-donaiton-box,

.checkout2-options,

.braintree-options,
.payumoney-options,
.quickpay-options{

    float:left;

    width:100%;  

    display:none;

    margin-bottom:50px;

    padding: 0 100px;

}

.credit-card-options input,

.checkout2-options input,

.braintree-options input,
.payumoney-options input,
.quickpay-options input{

    float: left;

    width: 100%;

    background: #fbfbfb;

    height: 45px;

    font-family: roboto;

    font-size: 12px;

    border: 1px solid #d8d8d8;

    margin-bottom: 20px;

    padding: 10px 20px;

    -webkit-border-radius:3px;

    -moz-border-radius:3px;

    -ms-border-radius:3px;

    -o-border-radius:3px;

    border-radius:3px;

    -webkit-box-shadow: 0px 0px 15px #EAEAEA inset;

    -moz-box-shadow: 0px 0px 15px #EAEAEA inset;

    -ms-box-shadow: 0px 0px 15px #EAEAEA inset;

    -o-box-shadow: 0px 0px 15px #EAEAEA inset;

    box-shadow: 0px 0px 15px #EAEAEA inset;

}

.select2{

    float:left;

    height:45px;

    margin-bottom:20px!important;

    padding:0 !important;

    width:100% !important;

}

.select2-container .select2-selection--single{

    background:#ffffff; /* Old browsers */

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */

    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background:-moz-linear-gradient(top, #ffffff 0%, #fbfbfb 23%, #fafafa 58%, #f8f8f8 100%); /* FF3.6+ */

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(23%,#fbfbfb), color-stop(58%,#fafafa), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */

    background:-webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 23%,#fafafa 58%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */

    background:-o-linear-gradient(top, #ffffff 0%,#fbfbfb 23%,#fafafa 58%,#f8f8f8 100%); /* Opera 11.10+ */

    background:-ms-linear-gradient(top, #ffffff 0%,#fbfbfb 23%,#fafafa 58%,#f8f8f8 100%); /* IE10+ */

    background:linear-gradient(to bottom, #ffffff 0%,#fbfbfb 23%,#fafafa 58%,#f8f8f8 100%); /* W3C */

    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-8 */

    border:0 none;

    float:left;

    height:100%;

    padding:0;

    width:100%;

}

.select2-container .select2-selection--single .select2-selection__rendered{

    color:#646464;

    float:none;

    font-family:roboto;

    font-size:11px;

    letter-spacing:0.3px;

    line-height:45px;

    padding:0 40px 0 20px;

}

.select2-container span.selection{

    float:left;

    height:100%;

    line-height:50px;

    padding:0;

    width:100%;

}

.select2-container .select2-selection--single .select2-selection__arrow{

    background:url("images/select2.png") no-repeat scroll center center rgba(0, 0, 0, 0);

    height:100%;

    right:0;

    top:0;

    width:40px;

}

.select2-container .select2-selection--single .select2-selection__arrow b{display:none;}

.select2-container .select2-selection--single .select2-selection__arrow:before{

    background:none repeat scroll 0 0 #d2d0d0;

    content:"";

    height:10px;

    margin-top:-5px;

    width:1px;

    z-index:1;

    position:absolute;

    top:50%;

    left:0;

}

.select2-results__option{

    border-bottom:1px solid #f3f3f3;

    font-family:roboto;

    font-size:11px;

    padding:6px 20px;



    -webkit-transition:all 0.2s linear;

    -moz-transition:all 0.2s linear;

    -ms-transition:all 0.2s linear;

    -o-transition:all 0.2s linear;

    transition:all 0.2s linear;

}

.select2-container--default .select2-results__option--highlighted[aria-selected]{

    background:none repeat scroll 0 0 #8f8f8f;

}

.select2-container--default .select2-results__option[aria-selected="true"]{color:#FFF;}

.credit-card-options input[type="submit"],

.checkout2-options input[type="submit"],

.braintree-options input[type="submit"],
.payumoney-options input[type="submit"],
.quickpay-options input[type="submit"]{

    background: #4F4F4F none repeat scroll 0% 0%;

    box-shadow: none;

    border: 0px none;

    width: auto;

    float: none;

    color: #FFF;

    font-family: roboto;

    padding: 10px 50px;

    font-weight: 700;

    margin: 0 auto;

    display: table;

}

.credit-card-options .col-md-12,

.checkout2-options .col-md-12,

.braintree-options .col-md-12,
.payumoney-options .col-md-12,
.quickpay-options .col-md-12{float:left;}

/* ===============================================================

    SELECT2 PLUGIN STYLING

================================================================*/

.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle;}.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;user-select:none;-webkit-user-select:none;}.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:8px;padding-left:20px;}.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none;}.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap;}.select2-container .select2-search--inline{float:left;}.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;}.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none;}.select2-dropdown{background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051;}.select2-results{display:block;}.select2-results__options{list-style:none;margin:0;padding:0;}.select2-results__option{padding:6px;user-select:none;-webkit-user-select:none;}.select2-results__option[aria-selected]{cursor:pointer;}.select2-container--open .select2-dropdown{left:0;}.select2-container--open .select2-dropdown--above{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;}.select2-container--open .select2-dropdown--below{border-top:none;border-top-left-radius:0;border-top-right-radius:0;}.select2-search--dropdown{display:block;padding:4px;}.select2-search--dropdown .select2-search__field{padding:4px;width:100%;box-sizing:border-box;}.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none;}.select2-search--dropdown.select2-search--hide{display:none;}.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0);}.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px;}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;}.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;}.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#999;}.select2-container--default .select2-selection--single .select2-selection__arrow{position:absolute;top:1px;right:1px;width:40px;}.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0;}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left;}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto;}.select2-container--default.select2-container--disabled .select2-selection--single{background-color:#eee;cursor:default;}.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear{display:none;}.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px;}.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;}.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%;}.select2-container--default .select2-selection--multiple .select2-selection__placeholder{color:#999;margin-top:5px;float:left;}.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-top:5px;margin-right:10px;}.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px;}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px;}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333;}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder{float:right;}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto;}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto;}.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0;}.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default;}.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none;}.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0;}.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0;}.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #aaa;}.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;}.select2-container--default .select2-results>.select2-results__options{max-height:200px;overflow-y:auto;}.select2-container--default .select2-results__option[role=group]{padding:0;}.select2-container--default .select2-results__option[aria-disabled=true]{color:#999;}.select2-container--default .select2-results__option[aria-selected=true]{background-color:#ddd;}.select2-container--default .select2-results__option .select2-results__option{padding-left:1em;}.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0;}.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em;}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em;}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em;}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em;}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em;}.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#5897fb;color:white;}.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px;}.select2-container--classic .select2-selection--single{background-color:#f6f6f6;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);background-image:-o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);background-image:linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);}.select2-container--classic .select2-selection--single:focus{border:1px solid #5897fb;}.select2-container--classic .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px;}.select2-container--classic .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-right:10px;}.select2-container--classic .select2-selection--single .select2-selection__placeholder{color:#999;}.select2-container--classic .select2-selection--single .select2-selection__arrow{background-color:#ddd;border:none;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);background-image:-o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);background-image:linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);}.select2-container--classic .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0;}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left;}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow{border:none;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto;}.select2-container--classic.select2-container--open .select2-selection--single{border:1px solid #5897fb;}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow{background:transparent;border:none;}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px;}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single{border-top:none;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);background-image:-o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);background-image:linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);background-image:-o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);background-image:linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);}.select2-container--classic .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0;}.select2-container--classic .select2-selection--multiple:focus{border:1px solid #5897fb;}.select2-container--classic .select2-selection--multiple .select2-selection__rendered{list-style:none;margin:0;padding:0 5px;}.select2-container--classic .select2-selection--multiple .select2-selection__clear{display:none;}.select2-container--classic .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px;}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{color:#888;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px;}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover{color:#555;}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{float:right;}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto;}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto;}.select2-container--classic.select2-container--open .select2-selection--multiple{border:1px solid #5897fb;}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple{border-top:none;border-top-left-radius:0;border-top-right-radius:0;}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;}.select2-container--classic .select2-search--dropdown .select2-search__field{border:1px solid #aaa;outline:0;}.select2-container--classic .select2-search--inline .select2-search__field{outline:0;}.select2-container--classic .select2-dropdown{background-color:white;border:1px solid transparent;}.select2-container--classic .select2-dropdown--above{border-bottom:none;}.select2-container--classic .select2-dropdown--below{border-top:none;}.select2-container--classic .select2-results>.select2-results__options{max-height:200px;overflow-y:auto;}.select2-container--classic .select2-results__option[role=group]{padding:0;}.select2-container--classic .select2-results__option[aria-disabled=true]{color:grey;}.select2-container--classic .select2-results__option--highlighted[aria-selected]{background-color:#3875d7;color:white;}.select2-container--classic .select2-results__group{cursor:default;display:block;padding:6px;}.select2-container--classic.select2-container--open .select2-dropdown{border-color:#5897fb;}



.select2-container{

    z-index: 2147483647;

}

.other-amount.card::before{

    content: "Credit Card";

}

.other-amount.paypal::before{

    content: "PayPal";

}

.woocommerce .quantity .qty {

    width: 150px !important;

}

.paypal_ipn {

    float: left;

    margin: 130px 0;

    width: 100%;

}

.success_msg {

    background: #a3a3a3 none repeat scroll 0 0;

    border: 1px solid #232323;

    border-radius: 3px;

    color: #fff;

    float: left;

    font-family: roboto;

    font-size: 13px;

    padding: 20px;

    width: 100%;

}

[data-style="donate-btn-causes"] {

    border-radius: 3px;

    color: #fff;

    cursor: pointer;

    float: left;

    font-family: open sans;

    font-size: 11px;

    margin-top: 10px;

    padding: 5px 10px;

    text-align: center;

    transition: all 0.3s linear 0s;

    width: 100%;

}

.other-amount.donner::before{

    content: "Donor Info"

}



.wpb_wrapper > ul {

    list-style: initial;

}

.other-amount.checkout2::before {

    content: "2Checkout";

}

.other-amount.braintree::before {

    content: "Braintree";

}
.other-amount.payumoney::before {

    content: "PayUMoney";

}
.other-amount.quickpay::before {

    content: "QuickPay";

}



/*===== Woocommerce Updated Element Style =====*/



/*.woocommerce-MyAccount-content {

    float: left;

    width: 100%;

}*/

.woocommerce-MyAccount-navigation {

    border-bottom: 0 none;

    border-top: 0 none;

    margin-top: 0;

}

.woocommerce-MyAccount-navigation > ul {

    float: left;

    list-style: outside none none;

    margin: 0 !important;

    padding-left: 0;

    width: 100%;

}

.woocommerce-MyAccount-navigation > ul > li {

    color: #ffffff !important;

    float: left;

    margin-bottom: 2px;

    width: 100%;

}

.woocommerce-MyAccount-navigation > ul > li a {

    background: #333333 none repeat scroll 0 0;

    color: inherit;

    float: left;

    padding: 10px 30px;

    width: 100%;

}

.woocommerce-MyAccount-navigation > ul > li:last-child {margin-bottom: 0;}

/*.woocommerce-MyAccount-content {

    border-left: 1px solid #eeeeee;

    padding-left: 20px;

}
*/
.woocommerce-MyAccount-content > p {

    float: left;

    width: 100%;

}

.woocommerce .woocommerce-MyAccount-content .woocommerce-message {

    float: left;

    margin-top: 20px !important;

}



.woocommerce-MyAccount-content > form fieldset {

    float: left;

    margin-top: 20px;

    width: 100%;

}

.woocommerce-MyAccount-content > form fieldset legend {padding-bottom: 20px;}

.woocommerce-MyAccount-content .woocommerce-Address-title .edit {

    color: #fff;

    float: left !important;

    margin-left: 20px;

    padding: 7px 15px;

    font-size: 13px;

}



.woocommerce-Addresses header{

    float: none;

    position:inherit;

}



.social-contacts2 li {

    float: left;

    margin-bottom: 20px;

    margin-right: 10px;

}



.social-contacts2 span {

    float: left;

    margin-right: 20px;

    color: #646464;

    font-family: open sans;

    font-size: 13px;

    font-weight: 500;

    line-height: 36px;

}

.screen-reader-text{

	font-family:inherit;

}
.left-content {
    float: left;width: 100%;
}
.default2 {
    float: left;
    padding-bottom: 120px;
    padding-top: 120px;
    width: 100%;

}
.default2 > p {
    color: #858585;
    float: left;
    font: 14px/27px "open sans";
    margin: 15px 0;width: 100%;
}